  /* Estilos para el botón de WhatsApp flotante */
  .whatsapp-button {
    position: fixed; /* Lo hace flotante */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: block;
    width: 65px; /* Tamaño del botón */
    height: 65px;
    background-color: #25d366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Lo hace circular */
    text-align: center;
    line-height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-button img {
    width: 35px; /* Tamaño del icono */
    height: 35px;
    vertical-align: middle;
    margin-top: 0px;
}

/* Efecto al pasar el cursor */
.whatsapp-button:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón */
    transition: transform 0.3s ease;
}