

# ignoramos los archivos .zip
*.zip
*.sql

# ignoramos los archivos sql
u802689289_octocodex_db.sql

# Ignoramos los .md que no sean readme
CONFIGURAR_CORREOS_XAMPP.md
CONFIGURAR_GMAIL_SMTP.md

# Ignoramos el archivo de configuración de la base de datos
/condor/php/config_bd.php